div.chatarea {
    width: 1000px;
    height: 300px;
    margin: auto;
    border: solid 0.1em;
    border-color:  rgb(1, 27, 27);
    overflow: auto;
}

div.message {
    background-color: aliceblue;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}